.project-cards {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.projects-inner {
    border: 1px solid black;
    margin: 20px 4%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    max-width: 1300px;
    background-color: #f5ead9;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.links {
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 10px;
}

.links button {
    align-items: center;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 24px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 16px;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
}

.links button:focus {
  background-color: #f7ce68;
  outline: 0;
}

.links button:hover {
  outline: 0;
  background-color: #fbab7e;
}


.home-button {
    background-color: white;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 20px; 
    font-size: large;
}