.projects-inner {
    border: 1px solid black;
    margin: 20px 4%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    max-width: 1300px;
    background-color: #f5ead9;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.home-button {
    background-color: white;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 20px; 
    font-size: large;
}