.navbar a {
  text-decoration: none;
  color: #353535;
  display: inline-block;
  position: relative;
}

.navbar a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fbab7e;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  background-color: #f5ead9;
  border-bottom: 1px black solid;
  margin: auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

li {
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.direita {
    margin-right: 30px;
}
